/*BEGIN JSCRIBBLE*/
#visuoexec { /*TEMP*/ height:250px; width:250px;}
/*END JSCRIBBLE*/

/*BEGIN PORTLET INSTRUCTIONS*/
.portlet-body .inst_img {float:right; margin-left:20px;}
/*END PORTLET INSTRUCTIONS*/

/*BEGIN PORTLET TITLE*/
[class^="icon-"], [class*=" icon-"] {
    line-height: 24px;
}
.portlet > .portlet-title > .caption {
    line-height: 30px;
}
.portlet > .portlet-title > .tools > a.info {
  margin-bottom: 2px;
  background-image:url(../img/portlet-info-icon.png);
  background-repeat: no-repeat;
  width: 30px; height:30px;
}
.portlet.box > .portlet-title > .tools > a.info,
.portlet.solid > .portlet-title > .tools > a.info {
  background-image:url(../img/portlet-info-icon-white.png);
}
/*BEGIN PORTLET TITLE*/
/*BEGIN SWITCH*/
.switch-mini [class^="icon-"], [class*=" icon-"] {
    line-height: 7px; 
}
/*END SWITCH*/
/*BEGIN PORTLET BOTTOM*/
.col-md-offset-3 {text-align:right;}
/*END PORTLET BOTTOM*/