/***
Responsive Theme. 
Based on http://getbootstrap.com/css/#responsive-utilities-classes
***/

/***
Form Medium Devices Up To Large Devices
***/


 


	/***
	Body
	***/
	body {
	 	padding-top: 0px;
	}

	/***
	Page sidebar
	***/
	.page-sidebar .btn-navbar.collapsed .arrow { 
		display: none;
	}	

	.page-sidebar .btn-navbar .arrow {
	  position: absolute;
	  right: 25px;
	  width: 0; 
	  height: 0;
	  top:50px;
	  border-bottom: 15px solid #5f646b;
	  border-left: 15px solid transparent; 
	  border-right: 15px solid transparent; 
	}

